<div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;font-size:14px !important;align-content: center;font-weight: 600;background-color: goldenrod;height:1%;">Advanced Shipment Notice</div>
<div class="card">
  <div *ngIf="asnItem.ASNNo" class='col-md-3 col-lg-3 col-sm-3'>
    <label class="form-label"><b style="color:#8a2be2">ASN No:</b>&nbsp;{{asnItem.ASNNo}}</label>
  </div>
  <div class="strike m-2">
    <span class="headername">Shipment Information</span>
    <div *ngIf="asnid!=0" style="float:right;margin-top:13px">
      <label style="font-size:14px"><b>Add Communication</b></label>&nbsp;&nbsp;
      <button type="button" pButton icon="fa fa-plus" (click)="showASNCommunicationDialogToAdd()"></button>
    </div>
  </div>
  <div class="tab-pane">
    <form [formGroup]="CreatASN">
      <div class="row m-0">
        <div *ngIf="asnid==0" class='col-md-3 col-lg-3 col-sm-3 form-group'>
          <label class="form-label">PONo:<span style="color:red">*</span></label>&nbsp;
          <div style="width:150px">
            <p-multiSelect [options]="lstPONumbers" formControlName="PONo" [(ngModel)]="selectedPOs" [panelStyle]="{width:'200px'}" optionLabel="PONo" (onChange)="getItemDetailsByPoNo($event)"></p-multiSelect>
          </div>
        </div>
        <div class='col-md-3 col-lg-3 col-sm-3 form-group'>
          <label class="form-label">Invoice No:<span style="color:red">*</span></label>
          <input type="text" ngModel maxlength="50" (focus)="focusInput('Accepts any character and max length is 50')"  class="form-control" [(ngModel)]="asnItem.InvoiceNo" formControlName="InvoiceNo" [ngClass]="{ 'is-invalid': ASNSubmitted && CreatASN.controls.InvoiceNo.errors}" />
          <span *ngIf="ASNSubmitted && CreatASN.controls.InvoiceNo.errors" class="invalid-feedback">Enter Invoice No.</span>
        </div>
        <div class='col-md-3 col-lg-3 col-sm-3 form-group'>
          <label class="form-label">Invoice Date:<span style="color:red">*</span></label>
          <input type="date" class="form-control" (focus)="focusInput('Displays the invoice Date ')" style="padding-right: 0px;" #myDate [value]="asnItem.InvoiceDate | date:'yyyy-MM-dd'" (input)="asnItem.InvoiceDate=parseDate($event.target.value)" formControlName="InvoiceDate" [(ngModel)]="asnItem.InvoiceDate" [ngClass]="{ 'is-invalid': ASNSubmitted && CreatASN.controls.InvoiceDate.errors}" />
          <span *ngIf="ASNSubmitted && CreatASN.controls.InvoiceDate.errors" class="invalid-feedback">Enter Invoice Date.</span>
        </div>
        <div class='col-md-3 col-lg-3 col-sm-3 form-group'>
          <label class="form-label">Ship From:<span style="color:red">*</span></label>
          <textarea class="form-control" (focus)="focusInput('Displays the delivery address From where the material is being  dispatched and max length is 500')" formControlName="ShipFrom" [ngClass]="{ 'is-invalid': ASNSubmitted && CreatASN.controls.ShipFrom.errors}" ngModel maxlength="500" [(ngModel)]="asnItem.ShipFrom"></textarea>
          <span *ngIf="ASNSubmitted && CreatASN.controls.ShipFrom.errors" class="invalid-feedback">Enter Ship from.</span>
        </div>
      </div>
      <div class="row col-lg-12 col-md-12 col-sm-12 mt-2">
        <div class='col-md-3 col-lg-3 col-sm-3 form-group'>
          <label class="form-label">Ship To:<span style="color:red">*</span></label>
          <textarea class="form-control" (focus)="focusInput('Displays the delivery address To where the material is being  dispatched and max length is 500')" formControlName="ShipTo" [ngClass]="{ 'is-invalid': ASNSubmitted && CreatASN.controls.ShipTo.errors}" ngModel maxlength="500" [(ngModel)]="asnItem.ShipTo"></textarea>
          <span *ngIf="ASNSubmitted && CreatASN.controls.ShipTo.errors" class="invalid-feedback">Enter Ship To.</span>
        </div>
        <div class='col-md-3 col-lg-3 col-sm-3 form-group'>
          <label class="form-label">Shipping Date:<span style="color:red">*</span></label>
          <input type="date" class="form-control" (focus)="focusInput('Displays the date of material dispatch/shipment')" style="padding-right: 0px;" #myDate [value]="asnItem.ShippingDate | date:'yyyy-MM-dd'" (input)="asnItem.ShippingDate=parseDate($event.target.value)" formControlName="ShippingDate" [(ngModel)]="asnItem.ShippingDate" [ngClass]="{ 'is-invalid': ASNSubmitted && CreatASN.controls.ShippingDate.errors}" />
          <span *ngIf="ASNSubmitted && CreatASN.controls.ShippingDate.errors" class="invalid-feedback">Enter Shipping Date.</span>
        </div>
        <div class='col-md-3 col-lg-3 col-sm-3 form-group'>
          <label class="form-label"> Expected Delivery Date:<span style="color:red">*</span></label>
          <input type="date" class="form-control" (focus)="focusInput('Displays the expected delivery date announced in the ASN as per the transit time required for material movement ')" style="padding-right: 0px;" #myDate [value]="asnItem.DeliveryDate | date:'yyyy-MM-dd'" (input)="asnItem.DeliveryDate=parseDate($event.target.value)" formControlName="DeliveryDate" [(ngModel)]="asnItem.DeliveryDate" [ngClass]="{ 'is-invalid': ASNSubmitted && CreatASN.controls.DeliveryDate.errors}" />
          <span *ngIf="ASNSubmitted && CreatASN.controls.DeliveryDate.errors" class="invalid-feedback">Enter Delivery Date.</span>
        </div>
        <div class='col-md-3 col-lg-3 col-sm-3 form-group'>
          <label class="form-label">Freight InvNo:</label>
          <input type="number" class="form-control" (focus)="focusInput('A freight invoice is used, in case of freight charges are  billed separately')" formControlName="FreightInvNo" [ngClass]="{ 'is-invalid': ASNSubmitted && CreatASN.controls.FreightInvNo.errors}" ngModel maxlength="50" [(ngModel)]="asnItem.FreightInvNo" />
          <span *ngIf="ASNSubmitted && CreatASN.controls.FreightInvNo.errors" class="invalid-feedback">Enter Freight InvNo.</span>
        </div>
      </div>
      <div class="row col-lg-12 col-md-12 col-sm-12 mt-2">
        <div class='col-md-3 col-lg-3 col-sm-3 form-group'>
          <label class="form-label">Transporter Name:<span style="color:red">*</span></label>
          <input type="text" class="form-control" (focus)="focusInput('Displays the  name of  Transporter/Carrier ')" formControlName="TransporterName" [ngClass]="{ 'is-invalid': ASNSubmitted && CreatASN.controls.TransporterName.errors}" ngModel maxlength="500" [(ngModel)]="asnItem.TransporterName" />
          <span *ngIf="ASNSubmitted && CreatASN.controls.TransporterName.errors" class="invalid-feedback">Enter Transporter Name.</span>
        </div>
        <div class='col-md-3 col-lg-3 col-sm-3 form-group'>
          <label class="form-label"> LR/AWB/BL No:<span style="color:red">*</span></label>
          <input type="text" class="form-control" (focus)="focusInput('Lorry Receipt /Air Way Bill/Bill of Lading number generated for transportation of Goods takes place by road/air/sea')" formControlName="BillofLodingNumber" [ngClass]="{ 'is-invalid': ASNSubmitted && CreatASN.controls.BillofLodingNumber.errors}" ngModel maxlength="100" [(ngModel)]="asnItem.BillofLodingNumber" />
          <span *ngIf="ASNSubmitted && CreatASN.controls.BillofLodingNumber.errors" class="invalid-feedback">Enter Billof LodingNumber.</span>
        </div>
        <div class='col-md-3 col-lg-3 col-sm-3 form-group'>
          <label class="form-label">Incoterm:<span style="color:red">*</span></label>
          <select class="form-control" (focus)="focusInput('Inco Terms rules associated with the transportation and delivery of goods ( EXW, FOB , CIP , FOR etc )')" [(ngModel)]="asnItem.IncoTerm" formControlName="IncoTerm" [ngClass]="{ 'is-invalid': ASNSubmitted && CreatASN.controls.IncoTerm.errors}" (change)=onIncoTermChange();>
            <option value="">Select</option>
            <option *ngFor="let po of IncoTermsList" value={{po.IncoTerm}}>
              {{po.IncoTerm}}
            </option>
          </select>
          <span *ngIf="ASNSubmitted && CreatASN.controls.IncoTerm.errors" class="invalid-feedback">Select Incoterm.</span>
        </div>
        <div *ngIf="asnItem.IncoTerm=='Other'" class='col-md-3 col-lg-3 col-sm-3 form-group'>
          <label class="form-label">Incoterm Description:<span style="color:red">*</span></label>
          <input type="text" (focus)="focusInput('indicates the Incoterm Description')" class="form-control" formControlName="IncotermDescription" [ngClass]="{ 'is-invalid': ASNSubmitted && CreatASN.controls.IncotermDescription.errors}" ngModel maxlength="500" [(ngModel)]="asnItem.IncotermDescription" />
          <span *ngIf="ASNSubmitted && CreatASN.controls.IncotermDescription.errors" class="invalid-feedback">Enter Incoterm Description.</span>
        </div>

      </div>
      <div class="row col-lg-12 col-md-12 col-sm-12 mt-2">
        <div class='col-md-3 col-lg-3 col-sm-3'>
          <label class="form-label">Incoterm Loc.:</label>
          <input type="text" (focus)="focusInput('indicates the location/place from  where shipment is effected ')" ngModel maxlength="500" class="form-control" formControlName="IncotermLoc" [ngClass]="{ 'is-invalid': ASNSubmitted && CreatASN.controls.IncotermLoc.errors}" [(ngModel)]="asnItem.IncotermLoc" />
          <span *ngIf="ASNSubmitted && CreatASN.controls.IncotermLoc.errors" class="invalid-feedback">Enter Incoterm Loc.</span>
        </div>
        <div class='col-md-3 col-lg-3 col-sm-3  form-group'>
          <label class="form-label">Mode Of Transport:<span style="color:red">*</span></label>
          <select class="form-control" (focus)="focusInput('Different ways of transportation Like   by Air , by road, by courier services, by Sea.')" formControlName="ModeOfTransport" [ngClass]="{ 'is-invalid': ASNSubmitted && CreatASN.controls.ModeOfTransport.errors}" [(ngModel)]="asnItem.ModeOfTransport">
            <option value="">Select</option>
            <option *ngFor="let po of ModeOfTransportList" value={{po.ModeOfTransport}}>
              {{po.ModeOfTransport}}
            </option>
          </select>
          <span *ngIf="ASNSubmitted && CreatASN.controls.ModeOfTransport.errors" class="invalid-feedback">Select Mode Of Transport.</span>
        </div>
        <div class='col-md-3 col-lg-3 col-sm-3 form-group'>
          <label class="form-label">Delivery Note :</label>
          <textarea class="form-control"  (focus)="focusInput('A delivery note contains detailed information about items, quantities, and delivery dates, as well as package information such as the number of containers, pallets, boxes, and how the items are stored in the different packages.')" formControlName="DeliveryNote" [ngClass]="{ 'is-invalid': ASNSubmitted && CreatASN.controls.DeliveryNote.errors}" [(ngModel)]="asnItem.DeliveryNote"></textarea>
          <span *ngIf="ASNSubmitted && CreatASN.controls.DeliveryNote.errors" class="invalid-feedback">Enter Delivery Note.</span>
        </div>
        <div class='col-md-3 col-lg-3 col-sm-3 form-group'>
          <label class="form-label">Total Gross Weight in(Kgs):</label>
          <input type="number" class="form-control" (focus)="focusInput('Gross Weight is the total weight of a shipment of goods, including their packaging')" formControlName="TotalGrossWeight_Kgs" [ngClass]="{ 'is-invalid': ASNSubmitted && CreatASN.controls.TotalGrossWeight_Kgs.errors}" [(ngModel)]="asnItem.TotalGrossWeight_Kgs" />
          <span *ngIf="ASNSubmitted && CreatASN.controls.TotalGrossWeight_Kgs.errors" class="invalid-feedback">Enter Total Gross Weight_Kgs.</span>
        </div>
      </div>
      <div class="row col-lg-12 col-md-12 col-sm-12 mt-2">
        <div class='col-md-3 col-lg-3 col-sm-3 form-group'>
          <label class="form-label">Total Net Weight in(Kgs):</label>
          <input type="number" class="form-control" (focus)="focusInput('Net Weight is the weight, or mass, of the goods themselves without any packaging')" formControlName="TotalNetWeight_Kgs" [ngClass]="{ 'is-invalid': ASNSubmitted && CreatASN.controls.TotalNetWeight_Kgs.errors}" [(ngModel)]="asnItem.TotalNetWeight_Kgs" />
          <span *ngIf="ASNSubmitted && CreatASN.controls.TotalNetWeight_Kgs.errors" class="invalid-feedback">Enter Total Net Weight_Kgs.</span>
        </div>
        <div class='col-md-3 col-lg-3 col-sm-3 form-group'>
          <label class="form-label">Total Volume:</label>
          <input type="text" class="form-control"(focus)="focusInput('A notional or calculated weight for bulky goods sent  ')"  formControlName="TotalVolume" [ngClass]="{ 'is-invalid': ASNSubmitted && CreatASN.controls.TotalVolume.errors}" ngModel maxlength="500" [(ngModel)]="asnItem.TotalVolume" />
          <span *ngIf="ASNSubmitted && CreatASN.controls.TotalVolume.errors" class="invalid-feedback">Enter Total Volume.</span>
        </div>
        <div class='col-md-3 col-lg-3 col-sm-3 form-group'>
          <label class="form-label">Insurance :<span style="color:red">*</span></label>
          <select class="form-control" (focus)="focusInput('To Indicate insurance to Supplier / YIL Account  as per PO terms ')" formControlName="Insurance" [ngClass]="{ 'is-invalid': ASNSubmitted && CreatASN.controls.Insurance.errors}" [(ngModel)]="asnItem.Insurance">
            <option value="">Select</option>
            <option value="By YIL">By YIL</option>
            <option value="By Supplier">By Supplier</option>
          </select><span *ngIf="ASNSubmitted && CreatASN.controls.Insurance.errors" class="invalid-feedback">Enter Insurance.</span>
        </div>
      </div>
    </form>
  </div>

  <div class="strike m-2">
    <span class="headername">ASN Items</span>
  </div>

  <div class="tab-pane">
    <div class="row m-2">
      <p-table [value]="RemoteASNItemDetails" [paginator]="true" [rows]="10" [resizableColumns]="true" [responsive]="true" [style]="{'width':'100%','overflow':'auto!important'}">
        <ng-template pTemplate="header">
          <tr class="mprltbldata">
            <th style="width:50px"></th>
            <th style="width:50px">S.No</th>
            <th>PO No</th>
            <th>PO Date</th>
            <!--<th>Vendor Code</th>-->
            <th>PO Line Item</th>
            <th>Material Code</th>
            <th style="width:200px">Material Description</th>
            <th>HSN Code</th>
            <th style="width:100px">PO Qty</th>
            <th style="width:100px">Supplied Cumulative Qty</th>
            <!--<th style="width:100px">PO Cumulative Qty</th>-->
            <th>ASN Quantity</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-rindex=0>
          <tr>
            <td class="ptable-cell"><input *ngIf="rowData.SupplierCumulativeQty<rowData.POQty && asnid==0" id='Item{{ri}}' type="checkbox" style="height:20px;width:20px" (input)="selectItemList($event,rowData,ri)"></td>
            <td style="width:4em">
              {{ri+1}}
            </td>
            <td class="ptable-cell">{{rowData.PONo}}</td>
            <td class="ptable-cell">{{rowData.PODate | date : constants.dateFormat}}</td>
            <!--<td class="ptable-cell">{{rowData.VendorCode}}</td>-->
            <td class="ptable-cell">{{rowData.POItemNo}}</td>
            <td class="ptable-cell">{{rowData.Material}}</td>
            <td class="ptable-cell">{{rowData.MaterialDescription}}</td>
            <td class="ptable-cell">{{rowData.HSNCode}}</td>
            <td class="ptable-cell">{{rowData.POQty}}</td>
            <td class="ptable-cell">{{rowData.SupplierCumulativeQty}}</td>
            <!--<td class="ptable-cell">{{rowData.PoCumulativeQty}}</td>-->
            <td class="ptable-cell"><input type="number" [disabled]="asnid==0 && rowData.SupplierCumulativeQty && rowData.SupplierCumulativeQty>=rowData.POQty" [(ngModel)]="rowData.ASNQty" required class="form-control" numberOnly (blur)="checkQuantity(rowData)" /></td>
          </tr>
        </ng-template>
      </p-table><br />
    </div>

    <div class="row m-2">
      <div class="col-md-5 col-lg-5 col-sm-5"></div>
      <button *ngIf="RemoteASNItemDetails.length>0 && asnid==0" type="button" class="btn btn-primary" (click)="submitAsn()">Submit</button>
    </div>
  </div>

  <div *ngIf="asnItem.RemoteASNCommunications && asnItem.RemoteASNCommunications.length>0" class="strike m-2">
    <span class="headername">ASN Communication</span>
  </div>
  <div *ngIf="asnItem.RemoteASNCommunications && asnItem.RemoteASNCommunications.length>0" class="tab-pane">
    <div class="row m-2">
      <p-table [value]="asnItem.RemoteASNCommunications" [paginator]="true" [rows]="10" [resizableColumns]="true" [responsive]="true" [style]="{'width':'100%','overflow':'auto!important'}">
        <ng-template pTemplate="header">
          <tr class="mprltbldata">
            <th class="text-center" style="width:50px">S.No</th>
            <th class="text-center">Communication By</th>
            <th class="text-center">Date</th>
            <th class="text-center">Remarks</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-rindex=0>
          <tr>
            <td style="width:4em">
              {{ri+1}}
            </td>
            <td class="ptable-cell">{{rowData.Employee.Name}}</td>
            <td class="ptable-cell text-center">{{rowData.RemarksDate | date : constants.dateFormat}}</td>
            <td class="ptable-cell">{{rowData.Remarks}}</td>
          </tr>
        </ng-template>
      </p-table><br />
    </div>
  </div>
</div>

<p-dialog header="Communication :" [(visible)]="displayCommunicationDialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '700px'}">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="ui-g-8">
        <label class="form-label">Remarks</label>&nbsp;<span style="color:red">*</span>&nbsp;
        <textarea type="text" [(ngModel)]="RemoteASNCommunications.Remarks" class="form-control"></textarea>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-check" (click)="onCommnicationSubmit()" label="Submit"></button>
      <button type="button" pButton icon="fa fa-close" (click)="dialogCancel('displayCommunicationDialog')" label="Cancel"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Confirm Data :" [(visible)]="displayConfirmationDialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '900px'}">
  <div class="ui-g ui-fluid" style="font-size:10px !important">
    <div class="ui-g-12 m-2">
      <div *ngIf="asnItem.ASNNo" class='ui-g-3'>
        <label class="lblEdit">ASN No:</label>
        <span class="valueEdit">{{asnItem.ASNNo}}</span>
      </div>
      <div class='ui-g-3'>
        <label class="lblEdit">Invoice No:</label>
        <span class="valueEdit">{{asnItem.InvoiceNo}}</span>
      </div>
      <div class='ui-g-3'>
        <label class="lblEdit">Invoice Date:</label>
        <span class="valueEdit">{{asnItem.InvoiceDate | date :  constants.dateFormat}}</span>
      </div>
      <div class='ui-g-3'>
        <label class="lblEdit">Ship From:</label>
        <span class="valueEdit">{{asnItem.ShipFrom}}</span>
      </div>
    </div>
    <div class="ui-g-12 m-2">
      <div class='ui-g-3'>
        <label class="lblEdit">Ship To:</label>
        <span class="valueEdit">{{asnItem.ShipTo}}</span>
      </div>
      <div class='ui-g-3'>
        <label class="lblEdit">Shipping Date:</label>
        <span class="valueEdit">{{asnItem.ShippingDate | date :  constants.dateFormat}}</span>
      </div>
      <div class='ui-g-3'>
        <label class="lblEdit">Delivery Date:</label>
        <span class="valueEdit">{{asnItem.DeliveryDate | date :  constants.dateFormat}}</span>
      </div>
      <div class='ui-g-3'>
        <label class="lblEdit">Freight InvNo:</label>
        <span class="valueEdit">{{asnItem.FreightInvNo}}</span>
      </div>
    </div>
    <div class="ui-g-12 m-2">
      <div class='ui-g-3'>
        <label class="lblEdit">Transporter Name:</label>
        <span class="valueEdit">{{asnItem.TransporterName}}</span>
      </div>
      <div class='ui-g-3'>
        <label class="lblEdit">LR/AWB/BL No:</label>
        <span class="valueEdit">{{asnItem.BillofLodingNumber}}</span>
      </div>
      <div class='ui-g-3'>
        <label class="lblEdit">Incoterm:</label>
        <span class="valueEdit">{{asnItem.IncoTerm}}</span>
      </div>
      <div *ngIf="asnItem.IncoTerm=='Other'" class='ui-g-3'>
        <label class="lblEdit">Incoterm Description:</label>
        <span class="valueEdit">{{asnItem.IncotermDescription}}</span>
      </div>
    </div>
    <div class="ui-g-12 m-2">
      <div class='ui-g-3'>
        <label class="lblEdit">Incoterm Loc.:</label>
        <span class="valueEdit">{{asnItem.IncotermLoc}}</span>
      </div>
      <div class='ui-g-3'>
        <label class="lblEdit">Mode Of Transport:</label>
        <span class="valueEdit">{{asnItem.ModeOfTransport}}</span>
      </div>
      <div class='ui-g-3'>
        <label class="lblEdit">Delivery Note:</label>
        <span class="valueEdit">{{asnItem.DeliveryNote}}</span>
      </div>
      <div class='ui-g-3'>
        <label class="lblEdit">Total Gross Weight in(Kgs):</label>
        <span class="valueEdit">{{asnItem.TotalGrossWeight_Kgs}}</span>
      </div>
    </div>
    <div class="ui-g-12 m-2">
      <div class='ui-g-3'>
        <label class="lblEdit">Total Net Weight in(Kgs):</label>
        <span class="valueEdit">{{asnItem.TotalNetWeight_Kgs}}</span>
      </div>
      <div class='ui-g-3'>
        <label class="lblEdit">Total Volume:</label>
        <span class="valueEdit">{{asnItem.TotalVolume}}</span>
      </div>
      <div class='ui-g-3'>
        <label class="lblEdit">Insurance:</label>
        <span class="valueEdit">{{asnItem.Insurance}}</span>
      </div>
    </div>
    <div class="ui-g-12 m-2">
      <p-table [value]="selectedItemDetailsList" [paginator]="true" [rows]="10" [resizableColumns]="true" [responsive]="true" [style]="{'width':'100%','overflow':'auto!important'}">
        <ng-template pTemplate="header">
          <tr class="mprltbldata">
            <th style="width:50px">S.No</th>
            <th>PO No</th>
            <th>PO Date</th>
            <th>PO Line Item</th>
            <th>Material Code</th>
            <th style="width:200px">Material Description</th>
            <th>HSN Code</th>
            <th style="width:100px">PO Qty</th>
            <th style="width:100px">Supplied Cumulative Qty</th>
            <th>ASN Quantity</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-rindex=0>
          <tr>
            <td style="width:4em">
              {{ri+1}}
            </td>
            <td class="ptable-cell">{{rowData.PONo}}</td>
            <td class="ptable-cell">{{rowData.PODate | date : constants.dateFormat}}</td>
            <td class="ptable-cell">{{rowData.POItemNo}}</td>
            <td class="ptable-cell">{{rowData.Material}}</td>
            <td class="ptable-cell">{{rowData.MaterialDescription}}</td>
            <td class="ptable-cell">{{rowData.HSNCode}}</td>
            <td class="ptable-cell">{{rowData.POQty}}</td>
            <td class="ptable-cell">{{rowData.SupplierCumulativeQty}}</td>
            <td class="ptable-cell">{{rowData.ASNQty}}</td>
          </tr>
        </ng-template>
      </p-table><br />
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <div class="row mt-2">
        <div class="col-md-2 col-lg-2 col-sm-2"></div>
        <input type="checkbox" style="height:20px;width:20px" (click)="agreeInputs($event)">&nbsp;&nbsp;<span>I Agree to the above information is correct</span>
      </div>
      <button type="button"  [disabled]="disableSubmit" pButton icon="fa fa-check" (click)="onASNFinalSubmit()" label="Proceed"></button>
      <button type="button" pButton icon="fa fa-close" (click)="dialogCancel('displayConfirmationDialog')" label="Back"></button>
    </div>
  </p-footer>
</p-dialog>

