
<form [formGroup]="resetpwdForm" id="resetpwd" style="display: none;">
	<div class="box" style="height:100%;">
		<div class="row form-inline titleColor">
			<div class="col-sm-2 col-md-2 col-lg-2"></div>
			<div class="col-sm-8 col-md-8 col-lg-8 text-center" style="margin-top: 30px;">
				<h1 style="font-size: 30px; vertical-align: middle; font-weight: bold">Reset Password</h1>
			</div>
		</div>
		
		
        <div class="row form-group">
			<div class="col-sm-4 col-md-4 col-lg-4"></div>
			<div class="col-sm-3 col-md-3 col-lg-3 form-group">
				<label for="username" class="form-label">New Password :</label>
				<input type="password" formControlName="NewPassword" ngModel maxlength="30" class="form-control" [ngClass]="{ 'is-invalid': pwdSubmitted && resetpwdForm.controls.NewPassword.errors }" required />
				<span *ngIf="pwdSubmitted && resetpwdForm.controls.NewPassword.errors" class="invalid-feedback">Please enter Password</span>
			</div>
        </div>
        <div class="row form-group">
			<div class="col-sm-4 col-md-4 col-lg-4"></div>
			<div class="col-sm-3 col-md-3 col-lg-3 form-group">
				<label for="username" class="form-label">Confirm Password :</label>
				<input type="password" formControlName="ConfirmPassword" ngModel maxlength="30" class="form-control" [ngClass]="{ 'is-invalid': pwdSubmitted && resetpwdForm.controls.ConfirmPassword.errors }" required />
				<span *ngIf="pwdSubmitted && resetpwdForm.controls.ConfirmPassword.errors" class="invalid-feedback">Please enter Password</span>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-sm-4 col-md-4 col-lg-4"></div>
			<div class="col-sm-4 col-md-4 col-lg-4" style="margin-top: 10px">
				<button type="submit" class="btn btn-primary" (click)="Submit()">Submit</button>
			</div>
		</div>
	</div>
</form>
<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" id="linkexpired" style="display: none;">
	<div class="row" id="linkexpired">
		<h5 style="color: red;padding-left: 40%;">The link got expired </h5>

	</div>
	<div class="row" style="padding-left: 30%;margin-top: 1%;">
		
		<div class="col-md-3 col-sm-3 col-xs-3 col-lg-3" style="padding-left: 0px;">
			<a style="color: red !important;font-size: 12px;" [routerLink]="['/VSCM/forgetpassword']" routerLinkActive="active">Forgot password?</a>
		</div>
		<div class="col-md-2 col-sm-2 col-xs-2 col-lg-2" style="padding-left: 20%;">
			<a  [routerLink]="['/VSCM/login']" routerLinkActive="active">Login</a>
		</div>
	</div>
	<!-- <div class="row" style="margin-top: 3%;">
		<span>Click here To</span>
		<div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
			<a  [routerLink]="['/VSCM/login']" routerLinkActive="active">Login</a>
		</div>
	</div> -->
</div>
