<h4 class="text-center">Invoice </h4>
<div class="card" style="width:1100px">
  <p-table #dt [value]="poInvoiceList" dataKey="PONO" [paginator]="true" [rows]="10" [style]="{'width':'1100px','overflow':'auto!important'}">
    <ng-template pTemplate="header">
      <tr class="mprltbldata">
        <th rowspan="2" class="text-center" style="width:40px">S.No</th>
        <th rowspan="2" class="text-center" style="width:50px">PO/Reference No</th>
        <th colspan="3" style="width:250px; text-align: center">Invoice</th>
      </tr>
      <tr class="mprltbldata">
        <th style="width:150px; text-align: center">Add</th>
        <th style="width:150px; text-align: center">Invoice No</th>
        <th style="width:150px; text-align: center">Edit</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-expanded="expanded" let-columns="columns">
      <tr class="ui-widget-header">
        <td class="text-center">{{rowIndex +1}}</td>
        <td class="text-center">{{rowData.PONO}}</td>
        <td class="text-center"><button type="button" pButton icon="fa fa-plus" (click)="ShowAddDialog(rowData)"></button></td>
        <td colspan="2" class="ptable-cell" style="text-align:center;width:100px;">
          <a href="#" *ngIf="rowData.InvoiceDetails.length>0" [pRowToggler]="rowData">
            <i [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"  style="font-size:25px;"></i>
          </a>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-rowData let-rowIndex="rowIndex">
      <tr *ngFor="let invoice of rowData.InvoiceDetails">
        <td colspan="3"></td>
        <td style="text-align:center;width:70px">
          {{invoice.InvoiceNo}}
        </td>
        <td style="width:180px" class="text-center">
          <button type="button" pButton icon="fa fa-pencil" (click)="ShowEditDialog(invoice)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>



<p-dialog header="Add Invoice" [(visible)]="AddEditDialog" showEffect="fade" [modal]="true" [responsive]="true" [style]="{width: '50%'}">
  <div class="row col-lg-12 col-md-12 col-sm-12">
    <div class='col-md-6 col-lg-6 col-sm-6'>
      <label class="form-label">PO/Reference No:</label>
    </div>
    <div class='col-md-6 col-lg-6 col-sm-6'>
      <span class="valueEdit">{{InvoiceDetails.PONO}}</span>
    </div>

  </div>
  <div class="row col-lg-12 col-md-12 col-sm-12">
    <div class='col-md-6 col-lg-6 col-sm-6'>
      <label class="form-label">Invoice No:</label>
    </div>
    <div class='col-md-6 col-lg-6 col-sm-6'>
      <input type="text" class="form-control" [(ngModel)]="InvoiceDetails.InvoiceNo" />
    </div>
  </div>

  <div class="row col-lg-12 col-md-12 col-sm-12">
    <div class='col-md-3 col-lg-3 col-sm-3'>
      <label class="form-label" style="font-weight:600">Documents:</label>
    </div>
  </div>
  <div class="row col-lg-12 col-md-12 col-sm-12">
    <div class='col-md-6 col-lg-6 col-sm-6'>
      <label class="form-label">Invoice Document:</label>
    </div>
    <div class='col-md-6 col-lg-6 col-sm-6'>
      <!--<input type="file" accept=".pdf,.doc,.docx,.xlsx">-->
      <button class="attachedbtn" [disabled]="disableInvoiceDoc" mat-raised-button (click)="fileInput1.click()">Select File</button>
      <input style="display: none" #attachment type="file" (change)="fileattached($event,1)" accept=".pdf,.doc,.docx,.xlsx" #fileInput1 >
      <span *ngFor="let selected of InvoiceDetails.InvoiceDocuments;let index = index">
        <span *ngIf="selected.DocumentTypeId==1" class="fixed-text_new">
          <i class="fa fa-paperclip" aria-hidden="true" (click)="viewDocument(selected.Path)" pTooltip="{{selected.DocumentName}}"></i>&nbsp;
          <button mat-icon-button (click)="removeSelectedFile(selected,index)"><i icon="fa fa-trash" class="fa fa-trash"></i></button>
        </span>
      </span>
    </div>
  </div>
  <br />
  <div class="row col-lg-12 col-md-12 col-sm-12">
    <div class='col-md-6 col-lg-6 col-sm-6'>
      <label class="form-label">Tax Document:</label>
    </div>
    <div class='col-md-6 col-lg-6 col-sm-6'>
      <button class="attachedbtn" [disabled]="disableTaxDoc" mat-raised-button (click)="fileInput2.click()">Select File</button>
      <input style="display: none" #attachment type="file" (change)="fileattached($event,2)" accept=".pdf,.doc,.docx,.xlsx" #fileInput2 >
      <span *ngFor="let selected of InvoiceDetails.InvoiceDocuments;let index = index">
        <span *ngIf="selected.DocumentTypeId==2" class="fixed-text_new">
          <i class="fa fa-paperclip" aria-hidden="true" (click)="viewDocument(selected.Path)" pTooltip="{{selected.DocumentName}}"></i>
          <button mat-icon-button (click)="removeSelectedFile(selected,index)"><i icon="fa fa-trash" class="fa fa-trash"></i></button>
        </span>
      </span>
    </div>

  </div>
  <br />
  <div class="row col-lg-12 col-md-12 col-sm-12">
    <div class='col-md-6 col-lg-6 col-sm-6'>
      <label class="form-label">Other Document:</label>
    </div>
    <div class='col-md-6 col-lg-6 col-sm-6'>
      <!--<input type="file" accept=".pdf,.doc,.docx,.xlsx" />-->
      <!--<input type="text" class="form-control" name="PO.DocumentName" [(ngModel)]="PO.DocumentName" />-->
      <button class="attachedbtn" mat-raised-button (click)="fileInput3.click()">Select File</button>
      <input style="display: none" #attachment type="file" (change)="fileattached($event,3)" accept=".pdf,.doc,.docx,.xlsx" #fileInput3>
      <span *ngFor="let selected of InvoiceDetails.InvoiceDocuments;let index = index">
        <span *ngIf="selected.DocumentTypeId==3" class="fixed-text_new">
          <i class="fa fa-paperclip" aria-hidden="true" (click)="viewDocument(selected.Path)" pTooltip="{{selected.DocumentName}}"></i>
          <button mat-icon-button (click)="removeSelectedFile(selected,index)"><i icon="fa fa-trash" class="fa fa-trash"></i></button>
        </span>
      </span>
    </div>
  </div>
  <br />
  <div class="row col-lg-12 col-md-12 col-sm-12">
    <div class='col-md-6 col-lg-6 col-sm-6'>
      <label class="form-label">Remarks:</label>
    </div>
    <div class='col-md-6 col-lg-6 col-sm-6'>
      <textarea rows="4" class="form-control" [(ngModel)]="InvoiceDetails.Remarks"></textarea>
    </div>
  </div>

  <div class="row col-lg-12 col-md-12 col-sm-12 mt-2">
    <button style="margin-left:43%" type="submit" class="btn btn-outline-rounded btn-info" (click)="UpdateInvoice()">Submit</button>
  </div>
</p-dialog>
