<div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;font-size:14px !important;align-content: center;font-weight: 600;background-color: goldenrod;height:1%;">invoice</div>
<div class="card">
  <div class="row m-2">
    <div class='col-xs-3 col-md-3 col-sm-3 form-inline'>
      <label><b>PO No:</b></label>&nbsp;{{asnItem.PONos}}
    </div>
    <div class='col-xs-3 col-md-3 col-sm-3 form-inline'>
      <label style="font-size:14px"><b>Invoice Type:</b></label>&nbsp; {{asnItem.InvoiceType}}
    </div>
    <div class='col-xs-3 col-md-3 col-sm-3 form-inline'>
      <label style="font-size:14px"><b>Status:</b></label>&nbsp;{{asnItem.AckStatus}}
    </div>
  </div>
  <div class="row m-2">
    <div class='col-xs-3 col-md-3 col-sm-3 form-group'>
      <label class="lblEdit">ASN No:</label>
      <span class="valueEdit">{{asnItem.ASNNo}}</span>
    </div>
    <div class='col-xs-3 col-md-3 col-sm-3 form-group'>
      <label class="lblEdit">Invoice No:</label>
      <span class="valueEdit">{{asnItem.InvoiceNo}}</span>
    </div>
    <div class='col-xs-3 col-md-3 col-sm-3 form-group'>
      <label class="lblEdit">Invoice Date:</label>
      <span class="valueEdit">{{asnItem.InvoiceDate | date :  constants.dateFormat}}</span>
    </div>
    <div class='col-xs-3 col-md-3 col-sm-3 form-group'>
      <label class="lblEdit">Ship From:</label>
      <span class="valueEdit">{{asnItem.ShipFrom}}</span>
    </div>
  </div>
  <div class="row m-2">
    <div class='col-xs-3 col-md-3 col-sm-3 form-group'>
      <label class="lblEdit">Ship To:</label>
      <span class="valueEdit">{{asnItem.ShipTo}}</span>
    </div>
    <div class='col-xs-3 col-md-3 col-sm-3 form-group'>
      <label class="lblEdit">Shipping Date:</label>
      <span class="valueEdit">{{asnItem.ShippingDate | date :  constants.dateFormat}}</span>
    </div>
    <div class='col-xs-3 col-md-3 col-sm-3 form-group'>
      <label class="lblEdit">Expected Delivery Date:</label>
      <span class="valueEdit">{{asnItem.DeliveryDate | date :  constants.dateFormat}}</span>
    </div>
    <div class='col-xs-3 col-md-3 col-sm-3 form-group'>
      <label class="lblEdit">Freight InvNo:</label>
      <span class="valueEdit">{{asnItem.FreightInvNo}}</span>
    </div>
  </div>
  <div class="row m-2">
    <div class='col-xs-3 col-md-3 col-sm-3 form-group'>
      <label class="lblEdit">Transporter Name:</label>
      <span class="valueEdit">{{asnItem.TransporterName}}</span>
    </div>
    <div class='col-xs-3 col-md-3 col-sm-3 form-group'>
      <label class="lblEdit">LR/AWB/BL No:</label>
      <span class="valueEdit">{{asnItem.BillofLodingNumber}}</span>
    </div>
    <div class='col-xs-3 col-md-3 col-sm-3 form-group'>
      <label class="lblEdit">Incoterm:</label>
      <span class="valueEdit">{{asnItem.IncoTerm}}</span>
    </div>
    <div *ngIf="asnItem.IncoTerm=='Other'" class='col-xs-3 col-md-3 col-sm-3 form-group'>
      <label class="lblEdit">Incoterm Description:</label>
      <span class="valueEdit">{{asnItem.IncotermDescription}}</span>
    </div>
  </div>
  <div class="row m-2">
    <div class='col-xs-3 col-md-3 col-sm-3 form-group'>
      <label class="lblEdit">Incoterm Loc.:</label>
      <span class="valueEdit">{{asnItem.IncotermLoc}}</span>
    </div>
    <div class='col-xs-3 col-md-3 col-sm-3 form-group'>
      <label class="lblEdit">Mode Of Transport:</label>
      <span class="valueEdit">{{asnItem.ModeOfTransport}}</span>
    </div>
    <div class='col-xs-3 col-md-3 col-sm-3 form-group'>
      <label class="lblEdit">Delivery Note:</label>
      <span class="valueEdit">{{asnItem.DeliveryNote}}</span>
    </div>
    <div class='col-xs-3 col-md-3 col-sm-3 form-group'>
      <label class="lblEdit">Total Gross Weight in(Kgs):</label>
      <span class="valueEdit">{{asnItem.TotalGrossWeight_Kgs}}</span>
    </div>
  </div>

  <div class="row m-2">
    <div class='col-xs-3 col-md-3 col-sm-3 form-group'>
      <label class="lblEdit">Total Net Weight in(Kgs):</label>
      <span class="valueEdit">{{asnItem.TotalNetWeight_Kgs}}</span>
    </div>
    <div class='col-xs-3 col-md-3 col-sm-3 form-group'>
      <label class="lblEdit">Total Volume:</label>
      <span class="valueEdit">{{asnItem.TotalVolume}}</span>
    </div>
    <div class='col-xs-3 col-md-3 col-sm-3 form-group'>
      <label class="lblEdit">Insurance:</label>
      <span class="valueEdit">{{asnItem.Insurance}}</span>
    </div>
    <div class='col-xs-3 col-md-3 col-sm-3 form-group'>
      <label class="lblEdit">Invoice Amount:</label>
      <span class="valueEdit">{{asnItem.InvoiceAmntByVendor}}</span>
    </div>
  </div>



  <div class="strike m-2">
    <span class="headername"><b>List of documents to be uploaded by vendor</b></span>
  </div>
  <div class="row col-lg-12 col-md-12 col-sm-12 ml-2">
    <div class='col-md-4 col-lg-4 col-sm-4'>
      <span style="color:orange">Please Upload Documents in PDF Format</span>
    </div>
  </div>
  <div class="row col-lg-12 col-md-12 col-sm-12 m-2">
    <div class='col-md-4 col-lg-4 col-sm-4'>
      <label class="form-label"><b>Tax Invoice:</b></label>&nbsp;<span style="color:red">*</span>
    </div>
    <div class='col-md-8 col-lg-8 col-sm-8'>
      <button [disabled]="hideSubmitBtn" class="attachedbtn" mat-raised-button (click)="fileInput1.click()">Select File</button>
      <input style="display: none" #attachment type="file" (change)="fileattached($event,1)" accept=".pdf" #fileInput1>
      <span *ngFor="let selected of RemoteInvoiceDetails.RemoteInvoiceDocuments;let index = index">
        <span *ngIf="selected.DocumentTypeId==1" class="fixed-text_new">
          <i class="fa fa-paperclip" aria-hidden="true" (click)="viewDocument(selected.Path)" pTooltip="{{selected.DocumentName}}"></i>&nbsp;
          <button [disabled]="hideSubmitBtn" mat-icon-button (click)="removeSelectedFile(selected,index)"><i icon="fa fa-trash" class="fa fa-trash"></i></button>
        </span>
      </span>
    </div>
  </div>
  <div class="row col-lg-12 col-md-12 col-sm-12 m-2">
    <div class='col-md-4 col-lg-4 col-sm-4'>
      <label class="form-label"><b>Delivery Challan:</b> </label>
    </div>
    <div class='col-md-8 col-lg-8 col-sm-8'>
      <button [disabled]="hideSubmitBtn" class="attachedbtn" mat-raised-button (click)="fileInput2.click()">Select File</button>
      <input style="display: none" #attachment type="file" (change)="fileattached($event,2)" accept=".pdf" #fileInput2>
      <span *ngFor="let selected of RemoteInvoiceDetails.RemoteInvoiceDocuments;let index = index">
        <span *ngIf="selected.DocumentTypeId==2" class="fixed-text_new">
          <i class="fa fa-paperclip" aria-hidden="true" (click)="viewDocument(selected.Path)" pTooltip="{{selected.DocumentName}}"></i>
          <button [disabled]="hideSubmitBtn" mat-icon-button (click)="removeSelectedFile(selected,index)"><i icon="fa fa-trash" class="fa fa-trash"></i></button>
        </span>
      </span>
    </div>

  </div>
  <div class="row col-lg-12 col-md-12 col-sm-12  m-2">
    <div class='col-md-4 col-lg-4 col-sm-4'>
      <label class="form-label"><b>Packing List :</b></label>
    </div>
    <div class='col-md-8 col-lg-8 col-sm-8'>
      <button [disabled]="hideSubmitBtn" class="attachedbtn" mat-raised-button (click)="fileInput3.click()">Select File</button>
      <input style="display: none" #attachment type="file" (change)="fileattached($event,3)" accept=".pdf" #fileInput3>
      <span *ngFor="let selected of RemoteInvoiceDetails.RemoteInvoiceDocuments;let index = index">
        <span *ngIf="selected.DocumentTypeId==3" class="fixed-text_new">
          <i class="fa fa-paperclip" aria-hidden="true" (click)="viewDocument(selected.Path)" pTooltip="{{selected.DocumentName}}"></i>&nbsp;
          <button [disabled]="hideSubmitBtn" mat-icon-button (click)="removeSelectedFile(selected,index)"><i icon="fa fa-trash" class="fa fa-trash"></i></button>
        </span>
      </span>
    </div>
  </div>
  <div class="row col-lg-12 col-md-12 col-sm-12  ml-4"><span style="color:orange">Either document or remarks is mandatory for LR/AWB/Courier Docket/B/L </span></div>
  <div class="row col-lg-12 col-md-12 col-sm-12  m-2">
    <div class='col-md-6 col-lg-6 col-sm-6 form-inline'><b>LR/AWB/Courier Docket/B/L Remarks:</b>&nbsp;<textarea maxlength="2000" class="form-control" [(ngModel)]="RemoteInvoiceDetails.LRRemarks"></textarea></div>
    </div>
    <div class="row col-lg-12 col-md-12 col-sm-12  m-2">
      <div class='col-md-4 col-lg-4 col-sm-4'>
        <label class="form-label"><b>LR/AWB/Courier Docket/B/L:</b></label>&nbsp;
      </div>
      <div class='col-md-8 col-lg-8 col-sm-8'>
        <button [disabled]="hideSubmitBtn" class="attachedbtn" mat-raised-button (click)="fileInput4.click()">Select File</button>
        <input style="display: none" #attachment type="file" (change)="fileattached($event,4)" accept=".pdf" #fileInput4>
        <span *ngFor="let selected of RemoteInvoiceDetails.RemoteInvoiceDocuments;let index = index">
          <span *ngIf="selected.DocumentTypeId==4" class="fixed-text_new">
            <i class="fa fa-paperclip" aria-hidden="true" (click)="viewDocument(selected.Path)" pTooltip="{{selected.DocumentName}}"></i>&nbsp;
            <button [disabled]="hideSubmitBtn" mat-icon-button (click)="removeSelectedFile(selected,index)"><i icon="fa fa-trash" class="fa fa-trash"></i></button>
          </span>
        </span>
      </div>
    </div>
    <div class="row col-lg-12 col-md-12 col-sm-12  m-2">
      <div class='col-md-4 col-lg-4 col-sm-4'>
        <label class="form-label"><b>Freight Invoice:</b></label>
      </div>
      <div class='col-md-8 col-lg-8 col-sm-8'>
        <button [disabled]="hideSubmitBtn" class="attachedbtn" mat-raised-button (click)="fileInput5.click()">Select File</button>
        <input style="display: none" #attachment type="file" (change)="fileattached($event,5)" accept=".pdf" #fileInput5>
        <span *ngFor="let selected of RemoteInvoiceDetails.RemoteInvoiceDocuments;let index = index">
          <span *ngIf="selected.DocumentTypeId==5" class="fixed-text_new">
            <i class="fa fa-paperclip" aria-hidden="true" (click)="viewDocument(selected.Path)" pTooltip="{{selected.DocumentName}}"></i>&nbsp;
            <button [disabled]="hideSubmitBtn" mat-icon-button (click)="removeSelectedFile(selected,index)"><i icon="fa fa-trash" class="fa fa-trash"></i></button>
          </span>
        </span>
      </div>
    </div>
    <div class="row col-lg-12 col-md-12 col-sm-12  m-2">
      <div class='col-md-4 col-lg-4 col-sm-4'>
        <label class="form-label"><b>Test Certificates:</b></label>&nbsp;<span style="color:red">*</span>
      </div>
      <div class='col-md-8 col-lg-8 col-sm-8'>
        <button [disabled]="hideSubmitBtn" class="attachedbtn" mat-raised-button (click)="fileInput6.click()">Select File</button>
        <input style="display: none" #attachment type="file" (change)="fileattached($event,6)" accept=".pdf" #fileInput6>
        <span *ngFor="let selected of RemoteInvoiceDetails.RemoteInvoiceDocuments;let index = index">
          <span *ngIf="selected.DocumentTypeId==6" class="fixed-text_new">
            <i class="fa fa-paperclip" aria-hidden="true" (click)="viewDocument(selected.Path)" pTooltip="{{selected.DocumentName}}"></i>&nbsp;
            <button [disabled]="hideSubmitBtn" mat-icon-button (click)="removeSelectedFile(selected,index)"><i icon="fa fa-trash" class="fa fa-trash"></i></button>
          </span>
        </span>
      </div>
    </div>
    <div class="row col-lg-12 col-md-12 col-sm-12  m-2">
      <div class='col-md-4 col-lg-4 col-sm-4'>
        <label class="form-label"><b>Inspection Report :</b></label>
      </div>
      <div class='col-md-8 col-lg-8 col-sm-8'>
        <button [disabled]="hideSubmitBtn" class="attachedbtn" mat-raised-button (click)="fileInput7.click()">Select File</button>
        <input style="display: none" #attachment type="file" (change)="fileattached($event,7)" accept=".pdf" #fileInput7>
        <span *ngFor="let selected of RemoteInvoiceDetails.RemoteInvoiceDocuments;let index = index">
          <span *ngIf="selected.DocumentTypeId==7" class="fixed-text_new">
            <i class="fa fa-paperclip" aria-hidden="true" (click)="viewDocument(selected.Path)" pTooltip="{{selected.DocumentName}}"></i>&nbsp;
            <button [disabled]="hideSubmitBtn" mat-icon-button (click)="removeSelectedFile(selected,index)"><i icon="fa fa-trash" class="fa fa-trash"></i></button>
          </span>
        </span>
      </div>
    </div>
    <div class="row col-lg-12 col-md-12 col-sm-12  m-2">
      <div class='col-md-4 col-lg-4 col-sm-4'>
        <label class="form-label"><b>Bank Guarantee:</b></label>
      </div>
      <div class='col-md-8 col-lg-8 col-sm-8'>
        <button [disabled]="hideSubmitBtn" class="attachedbtn" mat-raised-button (click)="fileInput8.click()">Select File</button>
        <input style="display: none" #attachment type="file" (change)="fileattached($event,8)" accept=".pdf" #fileInput8>
        <span *ngFor="let selected of RemoteInvoiceDetails.RemoteInvoiceDocuments;let index = index">
          <span *ngIf="selected.DocumentTypeId==8" class="fixed-text_new">
            <i class="fa fa-paperclip" aria-hidden="true" (click)="viewDocument(selected.Path)" pTooltip="{{selected.DocumentName}}"></i>&nbsp;
            <button [disabled]="hideSubmitBtn" mat-icon-button (click)="removeSelectedFile(selected,index)"><i icon="fa fa-trash" class="fa fa-trash"></i></button>
          </span>
        </span>
      </div>
    </div>
    <div class="row col-lg-12 col-md-12 col-sm-12  m-2">
      <div class='col-md-4 col-lg-4 col-sm-4'>
        <label class="form-label"><b>Other Documents:</b></label>
      </div>
      <div class='col-md-8 col-lg-8 col-sm-8'>
        <button [disabled]="hideSubmitBtn" class="attachedbtn" mat-raised-button (click)="fileInput9.click()">Select File</button>
        <input style="display: none" #attachment type="file" (change)="fileattached($event,9)" accept=".pdf" #fileInput9>
        <span *ngFor="let selected of RemoteInvoiceDetails.RemoteInvoiceDocuments;let index = index">
          <span *ngIf="selected.DocumentTypeId==9" class="fixed-text_new">
            <i class="fa fa-paperclip" aria-hidden="true" (click)="viewDocument(selected.Path)" pTooltip="{{selected.DocumentName}}"></i>
            <button [disabled]="hideSubmitBtn" mat-icon-button (click)="removeSelectedFile(selected,index)"><i icon="fa fa-trash" class="fa fa-trash"></i></button>
          </span>
        </span>
      </div>
    </div>
    <br />
    <div class="row col-lg-12 col-md-12 col-sm-12 m-2">
      <div class='col-md-4 col-lg-4 col-sm-4'>
        <label class="form-label"><b>Remarks:</b></label>
      </div>
      <div class='col-md-8 col-lg-8 col-sm-8'>
        <textarea rows="4" class="form-control"  maxlength="2000" [(ngModel)]="RemoteInvoiceDetails.Remarks"></textarea>
      </div>
    </div>

    <div *ngIf="hideSubmitBtn==false" class="row col-lg-12 col-md-12 col-sm-12 mt-2">
      <button style="margin-left:43%" type="submit" class="btn btn-outline-rounded btn-info" (click)="UpdateInvoice()">Submit</button>
    </div>
  </div>
